<h1>Title: <%=  @calamity.title %></h1>
<h2>Edit comment id: <%= @comment.calamity_id %></h2>
<%= render partial: 'form', locals: {calamity: @calamity, comment: @comment,  path: calamity_comment_path(@calamity, @comment)} %>
